*,
*::before,
*::after,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  appearance: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  /* overflow: hidden; */
  /* animation: appear-scroll 13s forwards 1s; */

    animation: appear-scroll 1s forwards ; 
    animation-delay: var(--T-animation-intro);

  /* > * p {
        color: #7aba4a;
        line-height: minmax();
    } */
}

@keyframes appear-scroll {
  to {
    overflow: auto;
  }
}

:root {
  /* base colors */
  --B-black: #202020;
  --B-grey62: #4a4a4a;
  --B-grey93: #efefef;
  --B-grey97: #f8f8f8;
  --B-white: #ffffff;

  /* primary colors */
  --P-yellow: #e0b31e;
  --P-yellow90: #fcf7e8;
  --P-orange: #e09b44;
  --P-orange90: #fcf5ec;
  --P-blue: #73c9c3;
  --P-blue90: #f1faf9;
  --P-green: #7aba4a;
  --P-green90: #f2f8ed;

  /* text size */

  /* paddings & margin & offset */
  --card-top-offset: 1em;
  /* timing */
  --T-animation-intro: 3.7s;

  /* sub topic */
  --sub-height:40vh; 
  /* --sub-height:auto;  */
}

/* mobile first */
.darkmode {
  --B-black: #ffffff !important;
  --B-white: #202020 !important;
  color: var(--B-black) !important;
  background-color: var(--B-white) !important;

  article *:nth-child(n){
    color: var(--B-black);
  }

  > body *:nth-child(n){
    background-color: var(--B-white) !important;


    /* *a,*h1,*h2,*h3{
      color: var(--B-black) !important;
    } */
  }

}

body {
    background-color: var(--B-white);
    color: var(--B-black);
    /* outline: solid red; */
    font-family: Museo, sans-serif;
    display: grid;
    grid-template-columns:
    minmax(0px, auto)
    [ct-start]
    repeat(6, 25px)
    [ct-end]
    minmax(0px, auto);
    grid-template-rows: min-content;
    column-gap: 40px;
  
}



/* ask about this  */
/* body*:nth-child(n){
    container: awor / normal;
 }

 @container awor (0 < width < 400px) {
    font-size: 20px ;
    color: green;
  } */

header {
  /* outline: solid blue; */
  background-color: var(--B-white);
  width: 100%;
  height: 5rem;
  position: relative;
  grid-column: 2/-2;
  display: grid;
  grid-template-columns: subgrid;
  place-items: center;
  display: flex;
  flex-direction: row;

  > svg {
    grid-column: ct;
    /* grid-area: 1/1; */
    width: 100%;
    color: var(--B-black);
    /* outline: solid blue; */
    z-index: 10;
  }
  > nav {
    /* outline: solid green; */
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
  }

  nav ul{
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }

  nav > a{
    display: flex;
    gap: 9px;
    align-items: center;
    color: var(--B-black);
  }

  a{
    color: var(--B-black);
  }

  .menu-content{
    position: fixed;
    display: none;
    /* finset: 0; */
    /* z-index: 30; */
  }
}


/* .tester{
    --size: 5rem;
    width:var(--size) ;
    height: var(--size);
    border: solid 5px black 5px;
    background-color: #e09b44;
    z-index: 100;
    position: fixed;
    bottom: var(--size);
    right: var(--size);
    animation: move 30s linear forwards ;
    animation-timeline:scroll(y);

} */

@keyframes move {
    to{
        right: calc(100% - var(--size) * 2 );	
    }
    
}


/* ----main content----- */
main {
  /* outline: solid green; */
  position: relative;
  grid-column: 2/-2;
  display: grid;
  grid-template-columns: subgrid;
  background-color: var(--B-white);
  /* background-color: var(--B-black); */
  place-items: center;
  /* min-height: 50vh; */
}

/* for the meantime / measurments */
section {
  article {
    padding-bottom: 80px;
  }

  svg{
    color: var(--B-black);
  }
  .main-topic {
    padding-bottom: 40px;
   
    h2 {
      line-height: 2em;
    }
  }

  a{
    color: var(--B-black);
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .sub-topic {
    div {
      padding-bottom: 15px;
    }
    .value {
      font-size: 24px;
    
      &::after {
        content: "%";
      }
    }
    & h3 {
      line-height: 2em;
      /* color: red; */
    }
    &:nth-last-of-type(1){
        height: 15rem;
    }
  }
}

main section {
  grid-column: ct;
  background-color: white;
  min-height: 100dvh;
  width: 100%;
  /* outline: solid rgb(100, 100, 28); */
  display: grid;
  place-content: center;

  &.intro {
    min-height: 90dvh;
  }
}

.intro {
    text-align: center;
    /* outline: solid red; */
    width: 97svw;
    height: 100vh;
    translate: 0px -5rem;
    animation: expand var(--T-animation-intro) forwards;
    /* animation-delay: var(--T-animation-intro); */
    z-index: 0;
  }
  
  @keyframes expand {
    from {
      z-index: 3;
    }
    to {
      width: 100%;
      height: 90vh;
      translate: 0px 0px;
      opacity: 1;
      z-index: 0;
    }
  }

.intro article {
    position: relative;
    margin-inline: 1rem;
  
    h2 {
      font-size: clamp(28px, 4rem, 38px);
      padding-bottom: 15px;
      z-index: -1;
      color: #202020;
      opacity: 0;
      animation: appear var(--T-animation-intro) forwards var(--T-animation-intro);
    }
    p {
      z-index: 3;
    }
  }
  
  @keyframes appear {
    to {
      opacity: 1;
    }
  }


/* ----- section & article ----- */

article{
    /* outline: solid blue; */
}

.article-container  div:has(img){
  
  position: sticky;
  bottom: 2%;
  z-index: 20 ;
  img{
    width: 100% ;
  }
}

/* ---- main topic section ---- */

.main-topic{
    background-color: var(--B-white);
    position: sticky;
    top: 0;
    height: min-content;
    padding-top: 10%;
    margin-bottom: 13vh;
    z-index: 20;
}

/* ---- sub topic section ---- */

.sub-topic-container{
    /* outline: solid #7aba4a; */
    z-index: 0;
    width: 100%;
}

.value{
  color: var(--P-blue) !important;
}

.sub-topic{
    /* outline: solid orange; */
    height: var(--sub-height);
    top: 29dvh;
    /* top:  calc(25vh + var(--index) * var(--card-top-offset)); */
    position: sticky;
    transform-origin: 50% 0%;
    border-radius: 1pc;
    padding: 1rem;

    &:nth-of-type(1){--index: 1;}
    &:nth-of-type(2){--index: 2;}
    &:nth-of-type(3){--index: 3;}
    &:nth-of-type(4){--index: 4;}
    &:nth-of-type(5){--index: 5;}
    &:nth-of-type(6){--index: 6;}
    &:nth-of-type(7){--index: 7;}
    
    &:nth-of-type(n){
        z-index: var(--index);
        background-color: var(--B-white);
        animation: appear-subtopic 1s forwards  cubic-bezier(0.95, 0.05, 0.795, 0.035) ;
        animation-timeline: view();
        animation-range:entry 45rem ;
        opacity: 0;

        
    }
    
}

@keyframes appear-subtopic {
   
    80%{
        opacity: .7;
    }
    100%{
        opacity: 1;
    }
    
}



.results .sub-topic{

    &:nth-of-type(1){
        top:  calc(25vh + var(--index) * calc(var(--card-top-offset) + 1em));
    }
    &:nth-of-type(2){
        top:  calc(25vh + var(--index) * calc(var(--card-top-offset) + 5em));
        height: calc(var(--sub-height) + 1vh);
    }
    &:nth-of-type(3){
        top:  calc(25vh + var(--index) * calc(var(--card-top-offset) + 6.5em));
    }

    &:nth-of-type(n){
        z-index: var(--index);
        background-color: var(--B-white);
        animation: appear-subtopic 1s forwards ;
        animation-timeline: view();
        animation-range-start:entry 29rem ;
        animation-range-end:entry 25rem ;
        opacity: 0.06;
    }

    &:nth-last-of-type(1){
        margin-top: 60rem;
    }

}

.ending .solliciteren{

  img{
    width: 100% ;
  }

  div:has(h2){
    display: flex;
    flex-direction: column;
    gap:30px ;
    padding: 30px 40px;
    background-color: var(--B-grey97);
  }

  a{
    display: flex;
    border: solid;
    border-radius: 2em;
    border-color: var(--B-black);
    color: var(--B-black);
    width: min-content;
    padding: 15px;
    gap: 15px;
   
  }

  a:hover{
    background-color: var(--B-black);
    color: var(--B-white);
  }

  a:focus{
    outline: solid var(--P-blue);
  }

}




footer {
  grid-column: 2/-2;
  background-color: var(--B-white);
  position: relative;
  /* place-self: bottom; */
  /* contain:content; */
  display: grid;
  grid-template-columns: subgrid;
  row-gap: 40px;
  padding-top: 60px;
  padding-bottom: 40px;
}

footer::before {
  content: "";
  position: absolute;
  background-color: var(--B-grey62);
  width: 100%;
  height: 1px;
  /* translate: -15vw -5vh; */
}

footer section {
  /* background-color: var(--P-orange90); */
  grid-column: ct;
  height: min-content;
  /* padding: 1em .5em; */
  /* outline: solid ; */

  &:nth-of-type(1) {
    position: relative;
    display: flex;
    gap: 40px;

    div {
      display: flex;
      gap: 15px;
    }
  }

  &:has(h3 + ul) {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3 {
      line-height: 1.6;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        line-height: 1.6;
      }
    }
  }

  &:nth-of-type(4) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: solid 1px var(--B-grey62);
    border-top: solid 1px var(--B-grey62) ;
    padding: 30px 0px;

    :nth-child(3) {
      margin-inline: 20px;
    }
  }
  

  &:nth-of-type(5) {
    /* height: 3rem; */

    div:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      padding-bottom: 40px;
    }

    .soicial-links {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      gap: 40px;
    }
  }
}

/* mobile first */

@media (min-width: 576px) {
  body {
    display: grid;
    /* background-color: var(--P-orange); */
    grid-template-columns:
      minmax(0px, auto)
      [ct-start]
      repeat(3, 18px)
      [m-start]
      repeat(3, 18px)
      [mid]
      repeat(3, 18px)
      [m-end]
      repeat(3, 18px)
      [ct-end]
      minmax(0px, auto);
    column-gap: 30px;
  }

  header {
    grid-column: 2/-2;

    nav ul{
        display: none;
      
    }
  }

  footer {
    > section:nth-of-type(1) {
      grid-row: 1/2;
      display: flex;

      p {
        flex-grow: 1;
      }
    }
    > section:nth-of-type(2) {
      grid-column: 1/6;
      grid-row: 2;
    }
    > section:nth-of-type(3) {
      grid-column: 6/12;
      grid-row: 2;
    }
    > section:nth-of-type(4) {
      grid-row: 3;
      display: flex;
      justify-content: space-around;
    }
    > section:nth-of-type(5) {
      grid-row: 4;
      display: flex;

      div:nth-of-type(1) {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 1rem;
      }
      .soicial-links {
        width: 30%;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    background-color: var(--B-white);
    /* background-color: var(--P-blue); */
    grid-template-columns:
      minmax(0px, auto)
      [ct-start]
      repeat(3, 24px)
      [m-start]
      repeat(4, 24px)
      [mid]
      repeat(4, 24px)
      [m-end]
      repeat(3, 24px)
      [ct-end]
      minmax(0px, auto);
    column-gap: 40px;
  }
  main{
    .timeline,.timeline.results {
      .main-topic,.sub-topic,div:has(img){
        position: relative;
        top: 0;
        margin: 0;
        grid-area: ct;
      }

      .main-topic{
        padding-inline-start: 1rem;
        margin-bottom: 40px;
        width: 65%;
        word-break: keep-all;

      }

      .sub-topic-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom:40px ;
      }

      
      .sub-topic{
        position: relative;
        animation: unset;
        opacity: 1;
        width: 40%;
        height: auto;
      }
      .sub-topic:nth-last-of-type(1){
        display: none;
      }
    }

    .ending{
      grid-column: m;
    }

    .solliciteren{
      display: none;
    }


  }

  footer {
    > section:nth-of-type(1) {
      grid-row: 1/2;
      display: flex;

      p {
        flex-grow: 1;
      }
    }
    > section:nth-of-type(2) {
      /* grid-column: 2/6 ;
            grid-row:2; */
    }
    > section:nth-of-type(3) {
      /* grid-column: 6/12 ;
            grid-row:2; */
    }
    > section:nth-of-type(4) {
      grid-row: 3;
      display: flex;
      justify-content: space-around;
    }
    > section:nth-of-type(5) {
      grid-row: 4;
      display: flex;

      div:nth-of-type(1) {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 1rem;
      }
      .soicial-links {
        width: 30%;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

@media (min-width: 1200px) {
  body {
    /* background-color: var(--P-yellow); */
    grid-template-columns:
      minmax(0px, auto)
      [ct-start]
      repeat(3, 60px)
      [m-start]
      repeat(3, 60px)
      [mid]
      repeat(3, 60px)
      [m-end]
      repeat(3, 60px)
      [ct-end]
      minmax(0px, auto);
  }

  header {
    nav ul{
      display: flex;
    
  }
  }
  main{
    .results .sub-topic-container .sub-topic{
      width: 30%;
    }
   
  }
  footer {
    > section:nth-of-type(1) {
      grid-row: 1/3;
      grid-column: 1/5;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        flex-grow: 1;
      }
    }
    > section:nth-of-type(2) {
      grid-column: mid;
      grid-column-end: m-end;
      grid-row: 2;
    }
    > section:nth-of-type(3) {
      grid-column: m-end;
      grid-column-end: ct-end;
      grid-row: 2;
    }
    > section:nth-of-type(4) {
      grid-row: 3;
      display: flex;
      justify-content: space-around;
    }
    > section:nth-of-type(5) {
      grid-row: 4;
      display: flex;

      div:nth-of-type(1) {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 1rem;
      }
      .soicial-links {
        width: 30%;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
@media (min-width: 1560px) {
  body {
    /* background-color: var(--P-blue90); */
    grid-template-columns:
      minmax(0px, auto)
      [ct-start]
      repeat(3, 90px)
      [m-start]
      repeat(3, 90px)
      [mid]
      repeat(3, 90px)
      [m-end]
      repeat(3, 90px)
      [ct-end]
      minmax(0px, auto);
  }
}
