*,*::before,*::after,html{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    /* outline: solid  var(--B-black) ; */
}

html{
    max-width: 100vw;
    /* overflow: scroll; */
    
}

:root{
    /* base colors */
    --B-black:#202020;
    --B-grey62:#4a4a4a;
    --B-grey93:#efefef;
    --B-grey97:#f8f8f8;
    --B-white:#ffffff;

    /* primary colors */
    --P-yellow:#e0b31e;
    --P-yellow90:#fcf7e8;
    --P-orange:#e09b44;
    --P-orange90:#fcf5ec;
    --P-blue:#73c9c3;
    --P-blue90:#f1faf9;
    --P-green:#7aba4a;
    --P-green90:#f2f8ed;

    /* text size */
    

    /* paddings & margin */


    


}

/* mobile first */
body{
    background-color: var(--B-grey62);
    color: var(--B-black);
    /* transition: .1s; */
    outline: solid red;
    /* width: 100vw; */
    /* height: 100vh; */
    position: relative;
    display: grid;
    /* grid-template-columns: 
    minmax(0px,1fr)  
    repeat(4,25px)  
    minmax(0px,1fr); */
    grid-template-rows:max-content;
    column-gap: 40px;

    
    
   
 }

header{ 
    background-color: var(--B-white);
    width: 100%;
    grid-column: 1/13 ;
    height: 5rem;
    
}


main{  
    /* display: grid;
    grid-template-columns: subgrid;
    background-color: #4a4a4a; */
    grid-column: 2/-2 ;
    background-color: var(--B-black);
    color: #e09b44;
    height: 500vh;
}
footer{
    grid-column: 1/-1;
    background-color: grey;
}

/* mobile first */


@media ( min-width: 576px ){
    body{
        background-color: var(--P-orange);
        grid-template-columns: 
        minmax(0px,1fr) 
        repeat(10,18px) 
        minmax(0px,1fr);
        column-gap: 30px;
    }
 }

@media (min-width: 768px ){
    body{
        background-color: var(--P-blue);
        grid-template-columns: 
        minmax(0px,1fr) 
        repeat(10,24px) 
        minmax(0px,1fr);
        column-gap: 40px;
    }
 }
@media (min-width: 1200px ){
    body{
        background-color: var(--P-yellow);
    
        grid-template-columns: 
        minmax(0px,1fr) 
        repeat(10,60px) 
        minmax(0px,1fr);
        column-gap: 40px;
        
    }
 }
@media (min-width: 1560px){
    body{
        background-color: var(--P-blue90);
        grid-template-columns: 
        minmax(0px,1fr) 
        repeat(10,90px) 
        minmax(0px,1fr);
        column-gap: 40px;
    }
   
 }